.catalog {
  padding: 30px 30px 0;
}

@media (min-width: $tablet-width) {
  .catalog {
    padding: 6px 0 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
