.contacts {
  width: 320px;
  margin: 0 auto;
  padding: 42px 0 40px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 320px auto;
}

.contacts__wrapper {
  padding: 0 30px 9px;
}

.contacts__title {
  margin: 0;
  padding-bottom: 24px;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
}

.contacts__table {
  width: 260px;
}

.contacts__item {
  padding: 0 20px 30px 0;
  text-transform: lowercase;
  vertical-align: top;
}

.contacts__value {
  width: 180px;
  margin: 0;
  padding-bottom: 30px;

  &--address {
    padding-right: 40px;
  }
}

.contacts__link {
  padding-bottom: 5px;
  color: #444444;
  border-bottom: 1px solid #62d1ba;
  outline: none;

  &:hover,
  &:focus {
    color: #46c1ae;
  }

  &:active {
    color: rgba(70, 193, 174, 0.3);
  }
}

.contacts__map {
  margin: 0;
  padding-bottom: 40px;
  line-height: 0;
}

.contacts__map-image {
  width: 100%;
  line-height: 0;
}

.contacts__btn {
  display: block;
  margin: 0 30px;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: 768px;
    padding: 77px 0 57px;
    background-size: 768px auto;
  }

  .contacts__wrapper {
    padding: 0 50px;
  }

  .contacts__title {
    position: relative;
    padding-bottom: 47px;
    font-size: 43px;
    line-height: 50px;

    &::after {
      content: "";
      position: absolute;
      top: -15px;
      right: 5px;
      width: 46px;
      height: 81px;
      background-image: url("../img/icon-flag.svg");
    }
  }

  .contacts__table {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    font-size: 17px;
  }

  .contacts__table tbody {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__row {
    width: 334px;
    padding-bottom: 25px;
  }

  .contacts__item {
    padding: 0 20px 30px 0;
  }

  .contacts__value {
    width: 256px;

    &--address {
      padding-right: 20px;
    }
  }

  .contacts__map {
    padding-bottom: 57px;
  }

  .contacts__btn {
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1050px;
    padding: 92px 0 105px;
    background-size: 1050px auto;
  }

  .contacts__wrapper {
    width: 525px;
    padding: 70px 40px 48px 175px;
  }

  .contacts__title {
    padding-bottom: 47px;
    font-size: 53px;
    line-height: 57px;

    &::after {
      top: -8px;
      left: -112px;
    }
  }

  .contacts__row {
    width: 350px;
    padding-bottom: 0;
  }

  .contacts__map {
    position: absolute;
    right: 0;
    width: 525px;
    padding: 0;
  }

  .contacts__btn {
    width: 230px;
    margin-left: 175px;
  }
}
