.copyright {
  padding: 22px 69px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.copyright__text {
  align-self: center;
  padding-right: 26px;
  color: #000000;
}

.copyright__logo {
  display: flex;

  &:hover path,
  &:focus path{
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 185px;
    padding: 8px 0;
  }

  .copyright__text {
    padding-right: 28px;
  }
}
