.copyright {
  padding: 22px 69px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.copyright__text {
  padding-right: 25px;
  vertical-align: middle;
}

.copyright__logo {
  display: inline-block;
  margin-left: -4px;
  vertical-align: top;
  line-height: 0;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 185px;
    padding: 0;
  }
}
