.copyright {
  padding: 20px 68px 24px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.copyright__text {
  align-self: center;
  padding-right: 28px;
  color: #000000;
}

.copyright__logo {
  display: flex;

  &:hover .copyright__logo-path,
  &:focus .copyright__logo-path {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo-path {
  fill: #63d1bb;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 185px;
    padding: 6px 0;
  }

  .copyright__text {
    padding-right: 30px;
  }
}
