.features {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.features__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
}

.features__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
