.features {
  padding: 28px 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.features__title {
  margin: 0;
  padding: 0 30px 30px;
  font-size: 25px;
  line-height: 30px;
}

.features__list {
  margin: 0;
  padding: 0 40px 0 30px;
  list-style: none;
}

.features__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.features__item {
  position: relative;
  padding: 55px 0 28px 0;

  &--eco::before {
    left: 8px;
    top: 0;
    width: 32px;
    height: 37px;
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--price::before {
    top: 2px;
    width: 46px;
    height: 27px;
    background-image: url("../img/icon-feature-money.svg");
  }

  &--like::before {
    top: 7px;
    left: 7px;
    width: 33px;
    height: 28px;
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--handmade::before {
    top: 3px;
    left: 3px;
    width: 34px;
    height: 34px;
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--home::before {
    top: 5px;
    left: -7px;
    width: 55px;
    height: 22px;
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--gift::before {
    top: 2px;
    left: 2px;
    width: 33px;
    height: 32px;
    background-image: url("../img/icon-feature-gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .features {
    padding: 50px 0 30px 0;
  }

  .features__title {
    padding: 0 0 45px;
    font-size: 43px;
    line-height: 50px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .features__item {
    width: 334px;
    padding: 57px 40px 54px 0;
    font-size: 20px;
    line-height: 22px;

    &--price,
    &--home {
      order: 1;
    }

    &--like,
    &--gift {
      order: 2;
    }

    &--eco::before {
      top: 2px;
    }

    &--price::before {
      top: 4px;
    }

    &--like::before {
      top: 9px;
    }

    &--handmade::before {
      top: 6px;
    }

    &--home::before {
      top: 8px;
    }

    &--gift::before {
      top: 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding: 60px 175px 34px;
  }

  .features__title {
    font-size: 53px;
    line-height: 57px;
  }

  .features__item {
    width: 350px;
  }
}
