.main-nav {
  position: relative;
}

.main-nav__logo {
  margin: 0;
  padding: 22px 0;
  text-align: center;
  line-height: 0;
  border-bottom: 1px solid #ececec;
}

.main-nav__logo-link {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__btn {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 20px;
  height: 15px;
  padding: 0;
  background-color: #ffffff;
  background-image: url("../img/menu-open.svg");
  background-position: center;
  border: none;
  outline: none;
  cursor: pointer;

  &--no-js {
    display: none;
  }

  &--js {
    display: block;
  }

  &--close {
    width: 21px;
    height: 20px;
    background-image: url("../img/menu-close.svg");
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__logo {
    display: flex;
    justify-content: flex-end;
    width: 48%;
    padding: 21px 210px 21px 0;
    border-bottom: none;
  }

  .main-nav__logo-image {
    width: 113px;
    height: 46px;
  }

  .main-nav__btn {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 150px;
    padding: 0;
    transform: translate(-50%, 0);
  }

  .main-nav__logo-image {
    width: 149px;
    height: 72px;
  }
}
