.modal__title {
  margin: 0;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.modal__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.modal__item-link {
  color: #444444;
  outline: none;
  border: 2px solid rgba(68, 68, 68, 0.1);
  &:hover,
  &:focus {
    border: 2px solid rgba(68, 68, 68, 0.3);
  }
  &:active {
    border: 2px solid #62d1ba;
  }
}

.modal__btn {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  outline: none;
  background-color: #63d1bb;
}
