.offers {
  line-height: 24px;
}

.offers__wrapper {
  background-color: #f9f9f9;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -15%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
}

.offers__title {
  margin: 0;
  padding: 70px 30px 122px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #010000;
}

.offers__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.offers__item {
  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.offers__item-title {
  margin: 0;
  font-size: 19px;
  font-weight: 700;
}

.offers__item-link {
  position: relative;
  display: block;
  padding: 25px 160px 30px 30px;
  color: #ffffff;
  outline: none;

  &:hover,
  &:focus {
    margin-top: -5px;
    padding-bottom: 35px;
  }

  &:hover .offers__item-icon-path,
  &:focus .offers__item-icon-path {
    fill-opacity: 0.7;
  }

  &:active .offers__item-icon-path {
    fill-opacity: 0.3;
  }

  &--interior {
    &:hover,
    &:focus {
      background-color: #59d5bc;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #59d5bc;
    }
  }

  &--toys {
    &:hover,
    &:focus {
      background-color: #46c1ae;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #46c1ae;
    }
  }
}

.offers__item-icon {
  position: absolute;
  top: 22px;

  &--interior {
    right: 36px;
  }

  &--toys {
    right: 27px;
  }
}

.offers__item-icon-path {
  fill: #149080;
  fill-opacity: 0.5;
}

.offers__product {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 26px 30px 42px;
  background-image: url("../img/bg-zigzag-line.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 320px auto;
}

.offers__product-title {
  margin: 0;
  padding-bottom: 5px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
}

.offers__product-of-week {
  margin: 0;
  padding-bottom: 24px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
}

.offers__product-description {
  margin: 0;
  padding-bottom: 16px;
}

.offers__product-table {
  width: 100%;
  line-height: 20px;
  margin-bottom: 26px;
  border-collapse: collapse;
}

.offers__field,
.offers__value {
  padding: 10px 0;
  border-bottom: 1px solid #ececec;
}

.offers__value {
  padding-left: 16px;
}

.offers__product-image {
  display: block;
  padding-bottom: 26px;
  line-height: 0;
}

.offers__image {
  width: 260px;
  height: 315px;
}

.offers__product-cost {
  margin: 0;
  padding-bottom: 26px;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
}

.offers__product-btn {
  display: block;
  width: 100%;
  font-size: 17px;
}

@media (min-width: $tablet-width) {
  .offers__wrapper {
    position: relative;
    background-image: url("../img/hero-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1150px auto;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -14px;
      left: 50%;
      margin-left: -385px;
      width: 770px;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-size: 770px auto;
    }
  }

  .offers__title {
    width: 600px;
    margin: 0 auto;
    padding: 152px 0 372px;
    font-size: 43px;
    line-height: 50px;
  }

  .offers__list {
    display: flex;
    flex-wrap: wrap;
  }

  .offers__item {
    width: 334px;
  }

  .offers__item-link {
    padding: 29px 167px 30px 36px;
    font-size: 20px;
    line-height: 30px;
  }

  .offers__item-icon {
    top: 30px;

    &--toys {
      top: 32px;
      right: 34px;
    }
  }

  .offers__product {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 768px;
    padding: 47px 50px 68px;
    background-size: 768px auto;
  }

  .offers__product-title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
    padding-bottom: 44px;
  }

  .offers__product-title {
    font-size: 43px;
    line-height: 50px;
  }

  .offers__product-of-week {
    width: 125px;
    margin: auto 0;
    padding: 0;
    line-height: 17px;
    text-align: center;
  }

  .offers__product-wrapper {
    width: 334px;
    padding: 0 40px 30px 0;
  }

  .offers__product-description {
    padding-bottom: 34px;
    font-size: 17px;
    line-height: 30px;
  }

  .offers__value {
    padding-left: 0;
  }

  .offers__product-image {
    position: absolute;
    z-index: -1;
    top: 155px;
    right: 50px;
    padding: 0;
  }

  .offers__image {
    width: 333px;
    height: 404px;
  }

  .offers__product-buy {
    width: 334px;
    padding-right: 44px;
  }

  .offers__product-cost {
    font-size: 20px;
    padding-bottom: 34px;
  }
}

@media (min-width: $desktop-width) {
  .offers__wrapper {
    background-image: url("../img/hero-desktop@1x.jpg");
    margin-bottom: 55px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }

    &::after {
      bottom: -18px;
      margin-left: -625px;
      width: 1250px;
      height: 34px;
      background-size: 1250px auto;
    }
  }

  .offers__title {
    width: 700px;
    padding: 154px 0 358px;
    font-size: 53px;
    line-height: 57px;
  }

  .offers__item {
    width: 525px;
  }

  .offers__item-link {
    padding-right: 350px;
  }

  .offers__product {
    width: 1050px;
    padding: 70px 0 96px;
    background-size: 1050px auto;
  }

  .offers__product-title-wrapper {
    width: 698px;
    padding-left: 20px;
  }

  .offers__product-title {
    font-size: 53px;
    line-height: 57px;
  }

  .offers__product-of-week {
    order: -1;
  }

  .offers__product-wrapper {
    width: 350px;
    margin-left: 175px;
    padding: 0 50px 82px 0;
  }

  .offers__product-description {
    padding-bottom: 48px;
  }

  .offers__product-image {
    top: 18px;
    right: 0;
  }

  .offers__image {
    width: 525px;
    height: 636px;
  }

  .offers__product-buy {
    width: 350px;
    margin-left: 175px;
    padding-right: 58px;
  }
}
