.order-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.order-form__wrapper {
  padding: 0 30px;
}

.order-form__title {
  position: relative;
  margin: 0;
  padding-bottom: 30px;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;

  &--contact {
    padding-bottom: 20px;
  }
}

.order-form__title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  height: 1px;
  width: 198px;
  background-color: #62d1ba;
}

.order-form__title--mail::after {
  width: 179px;
}

.order-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-form__item {
  padding: 0 0 40px 63px;

  &--client {
    padding: 0 0 20px 0;
  }
}

.order-form__label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  user-select: none;
  cursor: pointer;
}

.order-form__label--radio::before {
  content: "";
  position: absolute;
  left: -63px;
  top: -9px;
  height: 39px;
  width: 39px;
  border: 2px solid #444444;
  border-radius: 50%;
}

.order-form__label--checkbox::before {
  content: "";
  position: absolute;
  left: -63px;
  top: -9px;
  height: 39px;
  width: 40px;
  border: 2px solid #444444;
}

.order-form__label--contact {
  padding-bottom: 30px;
}

.order-form__input {
  display: inline-block;
  width: 260px;
  font: inherit;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  border: none;
  outline: none;
  cursor: pointer;
}

.order-form__input--client,
.order-form__input--contact {
  padding: 14px 0;
  border-bottom: 2px solid #000000;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid #62d1ba;
  }
}

.order-form__input--radio:checked + .order-form__label::after {
  content: "";
  position: absolute;
  left: -51px;
  top: 3px;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
}

.order-form__input--checkbox:checked + .order-form__label::after {
  content: "";
  position: absolute;
  left: -60px;
  top: 0px;
  width: 33px;
  height: 23px;
  background-image: url("../../img/icon-tick.svg");
}

.order-form__input--message {
  min-height: 142px;
  padding: 16px;
  border: 2px solid #000000;

  &:hover,
  &:focus,
  &:active {
    border: 2px solid #62d1ba;
  }
}

.order-form__text {
  margin: 0;
  padding: 18px 0 30px;
  font-size: 14px;
  line-height: 16px;
}

.order-form__btn {
  width: 100%;
  margin-bottom: 55px;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .order-form__fieldset:nth-child(2n) {
    background-color: #f1f1f1;
  }

  .order-form__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0;
  }

  .order-form__title {
    width: 168px;

    &::after {
      display: none;
    }
  }

  .order-form__list {
    width: 500px;

    &--color {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .order-form__item {
    padding: 0 0 55px 82px;

    &--client {
      padding: 0 0 55px 0;
    }

    &--color {
      width: 250px;
    }
  }

  .order-form__input {
    &--client {
      padding-top: 0;
    }

    &--contact {
      width: 500px;
      padding-top: 0;
      background-color: #f1f1f1;
    }

    &--message {
      width: 500px;
    }
  }

  .order-form__input--radio:checked + .order-form__label::after {
    left: -66px;
    width: 20px;
    height: 20px;
  }

  .order-form__input--checkbox:checked + .order-form__label::after {
    left: -71px;
  }

  .order-form__label {
    font-size: 19px;

    &--client {
      padding-right: 25px;
    }
  }

  .order-form__label--radio::before {
    left: -82px;
    top: -12px;
    height: 52px;
    width: 52px;
  }

  .order-form__label--checkbox::before {
    left: -82px;
    top: -12px;
    height: 52px;
    width: 54px;
  }

  .order-form__text {
    order: 1;
    width: 334px;
    font-size: 17px;
    line-height: 30px;
    text-align: right;
  }

  .order-form__btn {
    width: 230px;
    margin-right: 104px;
  }
}

@media (min-width: $desktop-width) {
  .order-form__title {
    width: 175px;
  }

  .order-form__list {
    width: 875px;
  }

  .order-form__item--color {
    width: 265px;
  }

  .order-form__label--contact {
    margin-right: 175px;
  }

  .order-form__input {
    &--contact,
    &--message {
      width: 700px;
    }
  }

  .order-form__text {
    width: 350px;
  }

  .order-form__btn {
    margin-left: 175px;
    margin-right: 120px;
  }
}
