.order {
  font-size: 13px;
  line-height: 24px;
}

.order-form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.order-form__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: #63d1bb;
}

.order-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.order-form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.order-form__text {
  font-size: 14px;
  line-height: 16px;
}
