.page-header {
  width: 320px;
  margin: 0 auto;
}

.page-header__delivery {
  display: none;
  margin: 0;
  padding: 22px 0;
  line-height: 24px;
  text-align: right;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 100%;
  }

  .page-header__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    &--nav {
      order: 1;
      justify-content: flex-end;
      width: 50%;
      background-color: #f1f1f1;
      border-top: 1px solid #ececec;
    }

    &--nav-index {
      background-color: #f9f9f9;
    }

    &--user {
      justify-content: flex-start;
      width: 51.5%;
    }
  }

  .page-header__delivery {
    display: flex;
    order: 1;
    width: 50%;
    padding: 18px 20px 18px 105px;
    background-color: #f1f1f1;
    border-top: 1px solid #ececec;

    &--index {
      background-color: #f9f9f9;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    &--nav {
      order: 0;
      justify-content: flex-end;
      width: 50%;
      padding-right: 156px;
      background-color: #ffffff;
      border-bottom: 1px solid #ececec;
    }

    &--user {
      justify-content: flex-start;
      width: 50%;
      padding-left: 175px;
      border-bottom: 1px solid #ececec;
    }
  }

  .page-header__delivery {
    border-top: none;
    padding-left: 295px;
  }
}
