.page-footer {
  background-color: #f1f1f1;
}

.page-footer__logo {
  display: none;
}

.page-footer__logo-link {
  &:hover,
  &:focus {
    fill: #46c1ae;
  }

  &:active {
    fill-opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 50px 0;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
    width: 180px;
    padding: 0;
    line-height: 0;
  }
}
