.product {
  position: relative;
  margin-bottom: 30px;

  &:hover .product__wrapper,
  &:focus .product__wrapper {
    box-shadow: 0 2px 6px 4px #ececec;
  }

  &:active .product__wrapper {
    box-shadow: 0 2px 3px 2px #ececec;
  }
}

.product__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 26px 28px 27px;
  border: 1px solid #ececec;
}

.product__title {
  margin: 0;
  padding-bottom: 6px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.product__link-img {
  display: block;
  width: 260px;
  height: 195px;
  line-height: 0;
}

.product__link {
  color: #000000;
  outline: none;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.product__description {
  margin: 0;
  padding-bottom: 18px;
  font-size: 13px;
}

.product__price {
  margin: 0;
  padding-top: 21px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  border-top: 1px solid #ececec;
}

.product__btn {
  position: absolute;
  right: 28px;
  bottom: 23px;

  &:hover .product__icon-path,
  &:focus .product__icon-path {
    fill-opacity: 1;
    fill: #63d1bb;
  }

  &:active .product__icon-path {
    fill-opacity: 0.3;
    fill: #63d1bb;
  }
}

.product__icon-path {
  fill: #231f20;
  fill-opacity: 0.2;
}

@media (min-width: $tablet-width) {
  .product {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 54px;
  }

  .product__wrapper {
    width: 334px;
    padding: 25px 26px 26px;
  }

  .product__link-img {
    width: 334px;
    height: 334px;
  }

  .product__title {
    padding: 0 38px 6px 0;
    font-size: 20px;
  }

  .product__description {
    margin-bottom: auto;
    padding: 0;
    font-size: 15px;
  }

  .product__price {
    padding: 22px 5px 0;
    font-size: 17px;
  }

  .product__btn {
    right: 32px;
  }
}

@media (min-width: $desktop-width) {
  .product {
    flex-direction: column;
    width: 315px;
    margin-bottom: 58px;
  }

  .product__link-img {
    width: 316px;
    height: 462px;
  }

  .product__title {
    padding-right: 20px;
  }

  .product__wrapper {
    width: 315px;
    min-height: 196px;
    padding: 25px 26px 26px;
  }

  .product__price {
    padding: 22px 0 0;
  }
}
