.site-list {
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  list-style: none;

  &--no-js {
    display: block;
  }

  &--js {
    display: none;
  }

  &--open {
    display: block;
  }

  &--new {
    display: none;
  }
}

.site-list__item {
  border-bottom: 1px solid #ececec;
}

.site-list__icon-path {
  fill: #231f20;
  fill-opacity: 0.2;
}

.site-list__item-link {
  position: relative;
  display: block;
  padding: 27px 0 27px 75px;
  color: #000000;
  outline: none;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:hover .site-list__icon-path,
  &:focus .site-list__icon-path {
    fill: #63d1bb;
    fill-opacity: 1;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  &:active .site-list__icon-path {
    fill-opacity: 0.3;
  }
}

.site-list__item-icon {
  position: absolute;
  left: 30px;
  top: 30px;
}

@media (min-width: $tablet-width) {
  .site-list {
    &--nav {
      z-index: 1;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      width: 334px;
    }

    &--user {
      display: flex;
      flex-wrap: wrap;
      width: 350px;
    }
  }

  .site-list__item {
    border: none;

    &--search {
      width: 83px;
      border-left: 1px solid #ececec;
    }

    &--cart {
      width: 265px;
      text-align: right;
      border-left: 1px solid #ececec;
    }

    &--nav {
      width: 167px;
      font-size: 15px;
    }
  }

  .site-list__item-link {
    padding: 18px 0;

    &--cart {
      padding: 30px 0;
    }
  }

  .site-list__item-hidden {
    display: none;
  }

  .site-list__item-icon {
    left: 32px;
    top: 35px;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    &--nav {
      width: 370px;
      font-size: 17px;
    }

    &--new {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      width: 50%;
      padding-right: 150px;
      background-color: #f1f1f1;
    }

    &--new-index {
      background-color: #f9f9f9;
    }
  }

  .site-list__item {
    &--new {
      width: 188px;
      font-size: 15px;

      &:nth-child(2n) {
        padding-left: 32px;
      }
    }

    &--nav {
      width: 185px;
      font-size: 17px;

      &:nth-child(2n) {
        text-align: right;
        border-left: 1px solid #ececec;
      }
    }

    .site-list__item-link {
      padding: 30px 0 34px;

      &--new {
        padding: 18px 0;
      }
    }
  }
}
