.social {
  width: 260px;
  margin: 0 auto;
  padding: 26px 30px;
  border-bottom: 1px solid #e5e5e5;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 140px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social__item {
  align-self: center;
  line-height: 0;
}

@media (min-width: $tablet-width) {
  .social {
    padding: 8px 0;
    border-bottom: none;
  }
}
